{
  "openapi": "3.0.3",
  "info": {
    "title": "Iriks-IT API",
    "description": "The official API for [Iriks-IT](https://iriks-it.nl). Powering tools, collections, and mischief since Sam knocked the first server off the desk.\n\n> *\"Why did Sam write the API docs? Because Silvia said if he didn't, she'd replace him with a 404 page.\"*\n\nAll authenticated endpoints require a Bearer token obtained via `/auth/login`. Tokens expire after **24 hours** — roughly the time it takes Silvia to forgive you for waking her up.",
    "termsOfService": "https://iriks-it.nl/api-terms/",
    "contact": {
      "email": "devop@iriks-it.nl",
      "name": "Matthijs Iriks",
      "url": "https://iriks-it.nl/"
    },
    "x-logo": {
      "url": "https://iriks-it.nl/logo.png",
      "backgroundColor": "#FFFFFF",
      "altText": "Iriks-IT Logo"
    },
    "version": "1.57.1"
  },
  "externalDocs": {
    "description": "Find out more about Iriks-IT",
    "url": "https://iriks-it.nl"
  },
  "servers": [
    {
      "url": "https://api.iriks-it.nl/v1",
      "description": "Production — where Sam and Silvia live"
    }
  ],
  "security": [
    {
      "BearerToken": []
    }
  ],
  "tags": [
    {
      "name": "account",
      "description": "Purr-fectly secure account management. Sam and Silvia got in, so can you. Email verification required — no exceptions, not even for cats."
    },
    {
      "name": "hotwheels",
      "description": "Hot Wheels collection tracker. Silvia tried to bat a few under the sofa, but every car is accounted for."
    },
    {
      "name": "tools",
      "description": "Utility endpoints for IP intelligence. Sam sniffs every packet — you get a nice JSON response instead."
    },
    {
      "name": "webhooks",
      "description": "Inbound webhook receivers. Silvia sits on the server and intercepts every status update — nothing gets past her."
    },
    {
      "name": "vrchat",
      "description": "VRChat member lookups and group membership data. Silvia runs the door policy — Sam checks the ban list."
    },
    {
      "name": "vrchat-moderation",
      "description": "Moderation actions: kick, ban, and ban appeals. Neither Silvia nor Sam tolerates rule-breakers."
    },
    {
      "name": "vrchat-member-data",
      "description": "Per-member moderator records: notes and warnings. Sam has more warnings than notes. We don't talk about it."
    },
    {
      "name": "vrchat-content",
      "description": "Group content creation: posts and calendar events. Silvia approves all posts before Sam hits send."
    },
    {
      "name": "vrchat-images",
      "description": "VRChat group media gallery management. Images are scoped to a group's Media Uploads gallery, created automatically on first use. Upload, list, inspect, and remove images per group. Reference the `image_id` when creating posts. Sam once uploaded 47 cat photos before Silvia noticed the gallery existed."
    },
    {
      "name": "incidents",
      "description": "Historic incident log from Atlassian statuspage and Cronitor monitoring sources. Independent of notification providers — whether or not Silvia triggered a Discord alert, every incident lands here."
    },
    {
      "name": "vulnerabilities",
      "description": "GitHub security vulnerability tracking. Silvia audits every dependency. Sam pretends he doesn't see the alerts. The truth is here regardless."
    },
    {
      "name": "rdw",
      "description": "Dutch vehicle (kenteken) lookups via the RDW open data API. Silvia once parked in a no-parking zone — Sam checked the RDW data and confirmed it was definitely her car."
    },
    {
      "name": "fun",
      "description": "Endpoints that exist purely because they're funny. Silvia and Sam approved this entire tag; no further oversight was requested."
    }
  ],
  "paths": {
    "/auth/register": {
      "post": {
        "tags": [
          "account"
        ],
        "summary": "Register a new account",
        "operationId": "post.account.register",
        "description": "Register your account here. You will receive a verification email — check your inbox, not your spam (or your cat's food bowl). You must verify before you can log in.",
        "security": [],
        "requestBody": {
          "$ref": "#/components/requestBodies/account.register"
        },
        "responses": {
          "200": {
            "description": "Account registered successfully. Check your email to verify.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.register"
                },
                "example": {
                  "success": true,
                  "code": 200,
                  "data": {
                    "token": "1|aqWx2RpjFTtYsaOVi3M8df6p54VLKW23W6f48a0",
                    "name": "Silvia"
                  },
                  "message": "User register successfully."
                }
              }
            }
          },
          "409": {
            "description": "Email already in use.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                },
                "example": {
                  "success": false,
                  "code": 409,
                  "data": "Account already exists, please choose a different one.",
                  "message": "Registration Error."
                }
              }
            }
          },
          "406": {
            "$ref": "#/components/responses/default406"
          },
          "505": {
            "$ref": "#/components/responses/default505"
          }
        }
      }
    },
    "/auth/verify": {
      "post": {
        "tags": [
          "account"
        ],
        "summary": "Verify your account",
        "operationId": "post.account.verify",
        "description": "You found the verification code in your email — now submit it here to unlock API access. Unlike Sam, who needs zero verification to knock things off tables.",
        "security": [],
        "requestBody": {
          "$ref": "#/components/requestBodies/account.verify"
        },
        "responses": {
          "200": {
            "description": "Account verified. You may now log in.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.success"
                },
                "example": {
                  "success": true,
                  "code": 200,
                  "data": "User verified successfully.",
                  "message": "Validation Success."
                }
              }
            }
          },
          "409": {
            "description": "Verification failed — invalid or expired code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                },
                "example": {
                  "success": false,
                  "code": 409,
                  "data": "Something bad broke, please contact: api@iriks-it.nl",
                  "message": "Validation Error."
                }
              }
            }
          },
          "406": {
            "$ref": "#/components/responses/default406"
          },
          "505": {
            "$ref": "#/components/responses/default505"
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "account"
        ],
        "summary": "Log in and obtain a Bearer token",
        "operationId": "post.account.login",
        "description": "Exchange your credentials for an access token and a refresh token. The access token expires after 24 hours — about the same time Sam takes to forgive you for closing the bedroom door. The refresh token is valid for 30 days and can be exchanged at `/auth/refresh` for a fresh pair. You must have verified your account first.",
        "security": [],
        "requestBody": {
          "$ref": "#/components/requestBodies/account.login"
        },
        "responses": {
          "200": {
            "description": "Login successful. Use `token` as `Authorization: Bearer <token>` on all protected endpoints. Store `refresh_token` securely — Sam guards his with his life.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.login"
                },
                "example": {
                  "success": true,
                  "code": 200,
                  "data": {
                    "token": "3|qF30ZVY2xW1OXJieMLXhUXZowwgVGVbm6F3kSoT714e04dec",
                    "expire": "2026-05-08 10:00:00",
                    "refresh_token": "4|rG41AWZ3yX2PYKjfNMYiVYApxxhWHWcn7G4lTpU825f15efd",
                    "refresh_expire": "2026-06-06 10:00:00",
                    "name": "Silvia"
                  },
                  "message": "User login successfully."
                }
              }
            }
          },
          "403": {
            "description": "Account not verified yet — Silvia is still screening you.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                },
                "example": {
                  "success": false,
                  "code": 403,
                  "data": "Account hasn't been verified yet, please verify this first!",
                  "message": "Unauthorised"
                }
              }
            }
          },
          "406": {
            "$ref": "#/components/responses/default406"
          },
          "505": {
            "$ref": "#/components/responses/default505"
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": [
          "account"
        ],
        "summary": "Refresh your access token",
        "operationId": "post.account.refresh",
        "description": "Exchange a valid refresh token for a fresh access token + refresh token pair. The old refresh token is immediately invalidated — single-use, like Sam's patience when his food bowl is empty.\n\nSend the refresh token (not the access token) in the `Authorization: Bearer` header. Using an access token here will be rejected with 403.",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "New token pair issued. The old refresh token is now dead — Silvia shredded it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.login"
                },
                "example": {
                  "success": true,
                  "code": 200,
                  "data": {
                    "token": "5|sH52BXA4zY3QZLkgONZjWZBqyyiXIXdo8H5mUqV936g26fge",
                    "expire": "2026-05-09 10:00:00",
                    "refresh_token": "6|tI63CYB5aZ4RAMlhPOAkXACrzzjYJYep9I6nVrW047h37ghf",
                    "refresh_expire": "2026-06-07 10:00:00",
                    "name": "Silvia"
                  },
                  "message": "Token refreshed successfully."
                }
              }
            }
          },
          "401": {
            "description": "The refresh token was not found — it may have already been used or expired. Sam says no.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                },
                "example": {
                  "success": false,
                  "code": 401,
                  "message": "Unauthorised"
                }
              }
            }
          },
          "403": {
            "description": "The token provided does not have the `token-refresh` ability. You likely sent an access token instead of a refresh token — Silvia can tell the difference.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                },
                "example": {
                  "success": false,
                  "code": 403,
                  "message": "Invalid token type."
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/default429"
          }
        }
      }
    },
    "/hotwheels": {
      "get": {
        "tags": [
          "hotwheels"
        ],
        "summary": "List all Hot Wheels",
        "operationId": "get.hotwheels.index",
        "description": "Returns the full Hot Wheels collection. Silvia once batted a 1970 Dodge Charger under the sofa. It was recovered. It is in this list.",
        "responses": {
          "200": {
            "description": "Hot Wheels retrieved successfully.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/hotwheels"
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Hot Wheels retrieved successfully."
                    }
                  }
                },
                "example": {
                  "success": true,
                  "code": 200,
                  "data": [
                    {
                      "id": 1,
                      "user": 1,
                      "condition": "Mint",
                      "in_packing": true,
                      "toy_num": "HW24-001",
                      "col_num": "001/250",
                      "model": "Paw-rsche 911 GT3",
                      "series": "Sam's Garage",
                      "series_num": "1/10",
                      "year": 2024,
                      "photo_url": "https://example.com/hw/paw-rsche-911.jpg",
                      "detail": "Sam sat on the box once but it survived. Purr-fect condition.",
                      "created_at": "19/04/2026",
                      "updated_at": "19/04/2026"
                    },
                    {
                      "id": 2,
                      "user": 1,
                      "condition": "Good",
                      "in_packing": false,
                      "toy_num": "HW24-002",
                      "col_num": "002/250",
                      "model": "Meow-stang GT500",
                      "series": "Silvia's Picks",
                      "series_num": "2/10",
                      "year": 2024,
                      "photo_url": "https://example.com/hw/meow-stang.jpg",
                      "detail": "Silvia batted it off the shelf exactly once. We consider it loved.",
                      "created_at": "19/04/2026",
                      "updated_at": "19/04/2026"
                    }
                  ],
                  "message": "Hot Wheels retrieved successfully."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/default401"
          },
          "429": {
            "$ref": "#/components/responses/default429"
          }
        }
      },
      "post": {
        "tags": [
          "hotwheels"
        ],
        "summary": "Add a Hot Wheels car",
        "operationId": "post.hotwheels.store",
        "description": "Add a new car to the collection. Sam will judge its aerodynamics by sniffing it.",
        "requestBody": {
          "$ref": "#/components/requestBodies/hotwheels.store"
        },
        "responses": {
          "200": {
            "description": "Car added to the collection successfully.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "data": {
                      "$ref": "#/components/schemas/hotwheels"
                    },
                    "message": {
                      "type": "string",
                      "example": "Product created successfully."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/default401"
          },
          "406": {
            "$ref": "#/components/responses/default406"
          },
          "429": {
            "$ref": "#/components/responses/default429"
          }
        }
      }
    },
    "/hotwheels/{id}": {
      "get": {
        "tags": [
          "hotwheels"
        ],
        "summary": "Get a Hot Wheels car",
        "operationId": "get.hotwheels.show",
        "description": "Get a specific car from the collection. Even if Sam licked it, it's still in the database.",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Car retrieved successfully.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "data": {
                      "$ref": "#/components/schemas/hotwheels"
                    },
                    "message": {
                      "type": "string",
                      "example": "Product retrieved successfully."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/default401"
          },
          "404": {
            "$ref": "#/components/responses/default404"
          },
          "429": {
            "$ref": "#/components/responses/default429"
          }
        }
      },
      "put": {
        "tags": [
          "hotwheels"
        ],
        "summary": "Update a Hot Wheels car",
        "operationId": "put.hotwheels.update",
        "description": "Update a car's name or detail. Silvia approved this endpoint with a slow blink.",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/hotwheels.update"
        },
        "responses": {
          "200": {
            "description": "Car updated successfully.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "data": {
                      "$ref": "#/components/schemas/hotwheels"
                    },
                    "message": {
                      "type": "string",
                      "example": "Product updated successfully."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/default401"
          },
          "404": {
            "$ref": "#/components/responses/default404"
          },
          "406": {
            "$ref": "#/components/responses/default406"
          },
          "429": {
            "$ref": "#/components/responses/default429"
          }
        }
      },
      "delete": {
        "tags": [
          "hotwheels"
        ],
        "summary": "Delete a Hot Wheels car",
        "operationId": "delete.hotwheels.destroy",
        "description": "Remove a car from the collection. More permanent than Silvia hiding it under the fridge.",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Car deleted from the collection.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "data": {
                      "type": "array",
                      "items": {},
                      "example": []
                    },
                    "message": {
                      "type": "string",
                      "example": "Hot Wheels deleted successfully."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/default401"
          },
          "404": {
            "$ref": "#/components/responses/default404"
          },
          "429": {
            "$ref": "#/components/responses/default429"
          }
        }
      }
    },
    "/tools/ip/{ip}": {
      "get": {
        "tags": [
          "tools"
        ],
        "summary": "Look up an IP address",
        "operationId": "get.tools.ip.show",
        "description": "Returns geolocation, ASN, proxy detection, and AbuseIPDB threat intelligence for an IPv4 or IPv6 address. Sam sniffs every packet — you get structured JSON.\n\nRequires the `ip.lookup` permission scope on your token.\n\n**Caching:** AbuseIPDB results are cached for 14 days per IP to stay well within rate limits. Fresh data is fetched automatically when the cache expires.",
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "required": true,
            "description": "The IPv4 or IPv6 address to look up. Sam's current IP is classified.",
            "schema": {
              "type": "string",
              "examples": [
                "118.25.6.39",
                "2001:db8::1",
                "1.1.1.1"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "IP data retrieved successfully. Sam sniffed it and found no suspicious treats.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "data": {
                      "$ref": "#/components/schemas/ip.lookup"
                    },
                    "message": {
                      "type": "string",
                      "example": "IP data retrieved successfully."
                    }
                  }
                },
                "example": {
                  "success": true,
                  "code": 200,
                  "data": {
                    "ip": "118.25.6.39",
                    "location": {
                      "country_code": "CN",
                      "country_name": "China",
                      "region_name": "Guangdong",
                      "city_name": "Shenzhen",
                      "latitude": 22.5431,
                      "longitude": 114.0579,
                      "zip_code": "518000",
                      "time_zone": "+08:00"
                    },
                    "country": {
                      "alpha3_code": "CHN",
                      "numeric_code": "156",
                      "capital": "Beijing",
                      "currency_code": "CNY",
                      "currency_name": "Yuan Renminbi",
                      "currency_symbol": "¥",
                      "cctld": ".cn",
                      "idd_code": "86",
                      "population": 1411750000,
                      "total_area": 9596960
                    },
                    "continent": {
                      "code": "AS",
                      "name": "Asia"
                    },
                    "timezone": {
                      "olson": "Asia/Shanghai",
                      "abbreviation": "CST",
                      "dst_start": null,
                      "dst_end": null
                    },
                    "metro": null,
                    "asn": {
                      "asn": "AS45090",
                      "organization": "Tencent Cloud Computing (Beijing) Co. Ltd",
                      "network": "118.25.0.0/16"
                    },
                    "threat": {
                      "score": 75,
                      "is_proxy": true,
                      "is_vpn": false,
                      "is_threat": true,
                      "reasons": [
                        "Hosting / data center IP",
                        "Threat category: SPAM",
                        "High-risk country: China"
                      ],
                      "total_reports": 42,
                      "last_reported_at": "2024-01-15T10:00:00+00:00",
                      "checked_at": "2026-04-19T14:00:00+00:00",
                      "reports": [
                        {
                          "reported_at": "2024-01-15T10:00:00+00:00",
                          "categories": [
                            18,
                            22
                          ],
                          "comment": "Sam detected suspicious SSH traffic from this IP at 3 AM. He woke up the admin by sitting on the keyboard.",
                          "reporter_country_code": "NL",
                          "reporter_country_name": "Netherlands"
                        },
                        {
                          "reported_at": "2024-01-10T08:30:00+00:00",
                          "categories": [
                            22
                          ],
                          "comment": "Silvia noticed this IP sniffing her ports. She hissed at it and reported it immediately.",
                          "reporter_country_code": "NL",
                          "reporter_country_name": "Netherlands"
                        }
                      ]
                    }
                  },
                  "message": "IP data retrieved successfully."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/default401"
          },
          "403": {
            "description": "Missing `ip.lookup` permission scope on your token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                },
                "example": {
                  "success": false,
                  "code": 403,
                  "data": "",
                  "message": "You do not have permission to perform IP lookups."
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/default429"
          },
          "422": {
            "description": "The provided value is not a valid IP address. Even Sam knows `meow` is not an IP.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                },
                "example": {
                  "success": false,
                  "code": 422,
                  "data": "",
                  "message": "The provided value is not a valid IP address."
                }
              }
            }
          }
        }
      }
    },
    "/tools/ip/{ip}/report": {
      "post": {
        "tags": [
          "tools"
        ],
        "summary": "Report an IP address to AbuseIPDB",
        "operationId": "post.tools.ip.report",
        "description": "Reports an IP address to AbuseIPDB under one or more category IDs. Sam keeps a personal logbook of every report filed under his watch — every request is recorded in our own history, sent or not.\n\nRequires the `ip.report` permission scope on your token.\n\n**Throttling:** the same IP address can only be reported once every 12 hours. AbuseIPDB itself only enforces a 15-minute minimum between reports for the same address, but Silvia prefers to let sleeping IPs lie a little longer before reporting them again. Reporting an IP within the window returns `429` with the last known score and the time the next report will be allowed.",
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "required": true,
            "description": "The IPv4 or IPv6 address to report. Sam double-checks it's not his own.",
            "schema": {
              "type": "string",
              "examples": [
                "118.25.6.39",
                "2001:db8::1",
                "1.1.1.1"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "categories"
                ],
                "properties": {
                  "categories": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 23
                    },
                    "minItems": 1,
                    "maxItems": 30,
                    "description": "AbuseIPDB category IDs (e.g. 18 = Brute-Force, 22 = SSH). See https://www.abuseipdb.com/categories for the full list.",
                    "example": [
                      18,
                      22
                    ]
                  },
                  "comment": {
                    "type": "string",
                    "maxLength": 1024,
                    "description": "Optional details about the abuse (logs, ports, etc.). Sam appreciates specifics.",
                    "example": "Sam caught this IP trying every password on the SSH port at 3 AM."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Report submitted to AbuseIPDB successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "sent"
                          ],
                          "example": "sent"
                        },
                        "ip": {
                          "type": "string",
                          "example": "118.25.6.39"
                        },
                        "abuse_confidence_score": {
                          "type": "integer",
                          "example": 52
                        },
                        "next_report_allowed_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-04-20T02:00:00+00:00"
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "IP address reported to AbuseIPDB successfully."
                    }
                  }
                },
                "example": {
                  "success": true,
                  "code": 200,
                  "data": {
                    "status": "sent",
                    "ip": "118.25.6.39",
                    "abuse_confidence_score": 52,
                    "next_report_allowed_at": "2026-04-20T02:00:00+00:00"
                  },
                  "message": "IP address reported to AbuseIPDB successfully."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/default401"
          },
          "403": {
            "description": "Missing `ip.report` permission scope on your token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                },
                "example": {
                  "success": false,
                  "code": 403,
                  "data": "",
                  "message": "You do not have permission to report IP addresses."
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — invalid IP address, missing categories, or an unrecognised category ID. Even Sam knows category 9999 doesn't exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                },
                "example": {
                  "success": false,
                  "code": 422,
                  "data": {
                    "categories": [
                      "The categories field must have at least 1 items."
                    ]
                  },
                  "message": "Validation Error."
                }
              }
            }
          },
          "429": {
            "description": "This IP address was already reported within the last 12 hours. Silvia is making it wait its turn.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                },
                "example": {
                  "success": false,
                  "code": 429,
                  "data": {
                    "status": "throttled",
                    "ip": "118.25.6.39",
                    "abuse_confidence_score": 40,
                    "next_report_allowed_at": "2026-04-20T02:00:00+00:00"
                  },
                  "message": "This IP address was already reported within the last 12 hours, so it wasn't sent to AbuseIPDB again."
                }
              }
            }
          },
          "502": {
            "description": "AbuseIPDB rejected the report or no API key was available. Sam blames the WiFi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                },
                "example": {
                  "success": false,
                  "code": 502,
                  "data": "",
                  "message": "Unable to submit the report to AbuseIPDB right now."
                }
              }
            }
          }
        }
      }
    },
    "/vrchat/ban-appeal": {
      "post": {
        "tags": [
          "vrchat-moderation"
        ],
        "summary": "Submit a ban appeal",
        "operationId": "post.vrchat.ban-appeal",
        "description": "Submit a ban appeal for a VRChat group ban. Requires a valid Bearer token with the `vrchat.banappeal` permission scope.\n\n**Rate limit:** One appeal per IP address per 14 days. Silvia keeps count. Your IP address is recorded with the appeal.\n\n> *\"Sam submitted an appeal for knocking the server over. His reason: 'it looked unstable.' It was not accepted.\"*",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "vrchat_user_id",
                  "group_id",
                  "name",
                  "email",
                  "reason"
                ],
                "properties": {
                  "vrchat_user_id": {
                    "type": "string",
                    "description": "Your VRChat user ID. Must match `usr_<uuid>` format.",
                    "example": "usr_00000000-0000-0000-0000-000000000001"
                  },
                  "group_id": {
                    "type": "string",
                    "description": "The VRChat group ID you were banned from. Must match `grp_<id>` format. Silvia checks every letter.",
                    "example": "grp_silvia-and-sam"
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Your VRChat display name.",
                    "example": "Silvia"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 255,
                    "description": "Your contact email address.",
                    "example": "silvia@iriks-it.nl"
                  },
                  "reason": {
                    "type": "string",
                    "maxLength": 5000,
                    "description": "Why you believe the ban should be lifted. Sam reads every word.",
                    "example": "I knocked that toy off the shelf on purpose, not by accident. I deserve to come back."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Appeal submitted. Silvia will review it when she wakes up from her nap.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "submitted": {
                          "type": "boolean",
                          "example": true
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Your ban appeal has been submitted."
                    }
                  }
                },
                "example": {
                  "success": true,
                  "code": 200,
                  "data": {
                    "submitted": true
                  },
                  "message": "Your ban appeal has been submitted."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/default401"
          },
          "403": {
            "description": "Missing `vrchat.banappeal` permission scope on your token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                },
                "example": {
                  "success": false,
                  "code": 403,
                  "data": "",
                  "message": "You do not have permission to submit VRChat ban appeals."
                }
              }
            }
          },
          "422": {
            "description": "Validation failed. Check your field values — Sam flagged them.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                },
                "example": {
                  "success": false,
                  "code": 422,
                  "message": "Validation Error.",
                  "data": {
                    "vrchat_user_id": [
                      "The vrchat user id field format is invalid."
                    ],
                    "email": [
                      "The email field must be a valid email address."
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "description": "An appeal from this IP was already submitted in the last 14 days. Silvia is still deliberating.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                },
                "example": {
                  "success": false,
                  "code": 429,
                  "message": "A ban appeal from this IP address was already submitted recently. Please wait 14 days before trying again."
                }
              }
            }
          }
        }
      }
    },
    "/vrchat/ban-lookup/{userId}": {
      "get": {
        "tags": [
          "vrchat"
        ],
        "summary": "Look up whether a VRChat user is banned",
        "operationId": "get.vrchat.ban-lookup",
        "description": "Checks the group's audit log history to determine whether a given VRChat user ID has ever been banned. Returns `banned: false` if no ban event is found. If banned, returns the actor, timestamp, description, and any operator notes.\n\nRequires the `vrchat.banlookup` permission scope on your token.\n\n> *\"Sam sat on the ban list once and accidentally approved it. We added a notes field so we could write 'Sam did it again'.\"*",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The VRChat user ID to look up. Must match the format `usr_<uuid>`. Silvia refuses to check anything else.",
            "schema": {
              "type": "string",
              "example": "usr_00000000-0000-0000-0000-000000000001"
            }
          },
          {
            "name": "group_id",
            "in": "query",
            "required": true,
            "description": "The VRChat group ID to scope the ban check to. Must match `grp_<id>` format.",
            "schema": {
              "type": "string",
              "example": "grp_silvia-and-sam"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lookup completed. `banned: false` means the user is clean — for now. Silvia is watching.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "data": {
                      "oneOf": [
                        {
                          "title": "Not banned",
                          "type": "object",
                          "properties": {
                            "banned": {
                              "type": "boolean",
                              "example": false
                            }
                          }
                        },
                        {
                          "title": "Banned",
                          "type": "object",
                          "properties": {
                            "banned": {
                              "type": "boolean",
                              "example": true
                            },
                            "banned_by": {
                              "type": "string",
                              "nullable": true,
                              "example": "Silvia"
                            },
                            "banned_at": {
                              "type": "string",
                              "format": "date-time",
                              "example": "2026-04-28T13:37:00.000000Z"
                            },
                            "reason": {
                              "type": "string",
                              "nullable": true,
                              "example": "Knocked every cat toy out of the group instance."
                            },
                            "notes": {
                              "type": "string",
                              "nullable": true,
                              "example": "Third offence. Sam reviewed the footage. Unanimous decision."
                            }
                          }
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "not_banned": {
                    "summary": "User is not banned",
                    "value": {
                      "success": true,
                      "code": 200,
                      "data": {
                        "banned": false
                      },
                      "message": "User is not banned."
                    }
                  },
                  "banned": {
                    "summary": "User is banned",
                    "value": {
                      "success": true,
                      "code": 200,
                      "data": {
                        "banned": true,
                        "banned_by": "Silvia",
                        "banned_at": "2026-04-28T13:37:00.000000Z",
                        "reason": "Knocked every cat toy out of the group instance.",
                        "notes": "Third offence. Sam reviewed the footage. Unanimous decision."
                      },
                      "message": "User is banned."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/default401"
          },
          "403": {
            "description": "Missing `vrchat.banlookup` permission scope on your token. Sam says no.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                },
                "example": {
                  "success": false,
                  "code": 403,
                  "data": "",
                  "message": "You do not have permission to perform VRChat ban lookups."
                }
              }
            }
          },
          "422": {
            "description": "The provided value is not a valid VRChat user ID. Silvia only accepts `usr_<uuid>` format — she has standards.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                },
                "example": {
                  "success": false,
                  "code": 422,
                  "data": "",
                  "message": "The provided value is not a valid VRChat user ID."
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/default429"
          }
        }
      }
    },
    "/vrchat/lookup/{userId}": {
      "get": {
        "tags": [
          "vrchat"
        ],
        "summary": "Look up a VRChat user by ID",
        "operationId": "get.vrchat.lookup",
        "description": "Fetches public profile information for a VRChat user directly from the VRChat API. Returns a curated set of public fields — location, friend status, login timestamps, and other private fields are intentionally omitted.\n\nRequires the `vrchat.lookup` permission scope on your token.\n\n> *\"Silvia personally reviews every lookup. Sam just checks if it's his own ID so he can update his bio to 'not guilty'.\"*",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The VRChat user ID to look up. Must match the format `usr_<uuid>`. Silvia only accepts valid IDs — she has standards.",
            "schema": {
              "type": "string",
              "example": "usr_00000000-0000-0000-0000-000000000001"
            }
          },
          {
            "name": "group_id",
            "in": "query",
            "required": true,
            "description": "The VRChat group ID to scope the lookup to. Must match `grp_<id>` format. Used to enrich the response with the member's group status.",
            "schema": {
              "type": "string",
              "example": "grp_silvia-and-sam"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User found. Silvia approves. Sam is jealous of the bio.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "VRChat user retrieved."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user_id": {
                          "type": "string",
                          "example": "usr_00000000-0000-0000-0000-000000000001"
                        },
                        "display_name": {
                          "type": "string",
                          "example": "Silvia"
                        },
                        "pronouns": {
                          "type": "string",
                          "nullable": true,
                          "example": "she/her"
                        },
                        "bio": {
                          "type": "string",
                          "nullable": true,
                          "example": "Professional server knocker. No regrets."
                        },
                        "bio_links": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "https://silvia.cat"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "nullable": true,
                          "example": "active",
                          "description": "VRChat status: `active`, `join me`, `ask me`, or `busy`."
                        },
                        "status_description": {
                          "type": "string",
                          "nullable": true,
                          "example": "Knocking things off shelves"
                        },
                        "state": {
                          "type": "string",
                          "nullable": true,
                          "example": "online",
                          "description": "Presence state: `online`, `active`, or `offline`."
                        },
                        "last_platform": {
                          "type": "string",
                          "nullable": true,
                          "example": "standalonewindows",
                          "description": "Last platform seen on: `standalonewindows`, `android`, `ios`, etc."
                        },
                        "date_joined": {
                          "type": "string",
                          "format": "date",
                          "nullable": true,
                          "example": "2020-01-01"
                        },
                        "developer_type": {
                          "type": "string",
                          "nullable": true,
                          "example": "none",
                          "description": "VRChat developer badge level: `none`, `trusted`, `internal`, or `moderator`."
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "system_trust_known"
                          ]
                        },
                        "avatar_thumbnail_url": {
                          "type": "string",
                          "nullable": true,
                          "example": "https://api.vrchat.cloud/api/1/image/thumbnail.png"
                        },
                        "profile_pic_override": {
                          "type": "string",
                          "nullable": true,
                          "example": ""
                        },
                        "profile_pic_override_thumbnail": {
                          "type": "string",
                          "nullable": true,
                          "example": ""
                        },
                        "user_icon": {
                          "type": "string",
                          "nullable": true,
                          "example": ""
                        },
                        "group_membership": {
                          "nullable": true,
                          "description": "The user's current membership record for the requested group, or `null` if they have no history there.",
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "example": "member",
                              "description": "Membership status: `member`, `moderator`, `inactive`, `banned`, etc."
                            },
                            "joined_at": {
                              "type": "string",
                              "format": "date-time",
                              "nullable": true,
                              "example": "2026-01-01T00:00:00.000000Z"
                            },
                            "left_at": {
                              "type": "string",
                              "format": "date-time",
                              "nullable": true,
                              "example": null
                            },
                            "banned_at": {
                              "type": "string",
                              "format": "date-time",
                              "nullable": true,
                              "example": null
                            }
                          }
                        },
                        "group_note": {
                          "nullable": true,
                          "description": "A moderator note about this member within the requested group, or `null` if no note has been written. Sam's note probably says 'watch the shelves'.",
                          "type": "object",
                          "properties": {
                            "note": {
                              "type": "string",
                              "example": "Silvia tends to knock things off shelves during events. Keep her away from the merch table."
                            },
                            "moderator_name": {
                              "type": "string",
                              "example": "Sam the Mod",
                              "description": "Display name of the moderator who wrote the note."
                            },
                            "updated_at": {
                              "type": "string",
                              "format": "date-time",
                              "nullable": true,
                              "example": "2026-05-01T12:00:00.000000Z"
                            }
                          }
                        },
                        "group_warnings": {
                          "type": "array",
                          "description": "List of warnings issued to this member within the requested group, ordered oldest-first. Empty array if none. (Silvia has two. They're both shelf-related.)",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 1
                              },
                              "title": {
                                "type": "string",
                                "example": "Shelf Incident #1"
                              },
                              "description": {
                                "type": "string",
                                "example": "Pushed three mugs off the table during the cat café event."
                              },
                              "moderator_name": {
                                "type": "string",
                                "example": "Sam the Mod",
                                "description": "Display name of the moderator who issued the warning."
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2026-04-15T18:30:00.000000Z"
                              }
                            }
                          }
                        },
                        "reputation": {
                          "type": "object",
                          "description": "Reputation counters for this user within the requested group. All fields default to `0` if no reputation record exists. Sam has a suspiciously high `instance_kicks` count.",
                          "properties": {
                            "instance_warns": {
                              "type": "integer",
                              "example": 0,
                              "description": "Number of times the user has been warned in a group instance."
                            },
                            "instance_kicks": {
                              "type": "integer",
                              "example": 1,
                              "description": "Number of times the user has been kicked from a group instance."
                            },
                            "group_joins": {
                              "type": "integer",
                              "example": 5,
                              "description": "Number of times the user has joined the group."
                            },
                            "group_leaves": {
                              "type": "integer",
                              "example": 2,
                              "description": "Number of times the user has left the group."
                            },
                            "group_kicks": {
                              "type": "integer",
                              "example": 0,
                              "description": "Number of times the user has been kicked from the group."
                            },
                            "group_bans": {
                              "type": "integer",
                              "example": 0,
                              "description": "Number of times the user has been banned from the group."
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "code": 200,
                  "data": {
                    "user_id": "usr_00000000-0000-0000-0000-000000000001",
                    "display_name": "Silvia",
                    "pronouns": "she/her",
                    "bio": "Professional server knocker. No regrets.",
                    "bio_links": [
                      "https://silvia.cat"
                    ],
                    "status": "active",
                    "status_description": "Knocking things off shelves",
                    "state": "online",
                    "last_platform": "standalonewindows",
                    "date_joined": "2020-01-01",
                    "developer_type": "none",
                    "tags": [
                      "system_trust_known"
                    ],
                    "avatar_thumbnail_url": "https://api.vrchat.cloud/api/1/image/thumbnail.png",
                    "profile_pic_override": "",
                    "profile_pic_override_thumbnail": "",
                    "user_icon": "",
                    "group_membership": {
                      "status": "moderator",
                      "joined_at": "2026-01-01T00:00:00.000000Z",
                      "left_at": null,
                      "banned_at": null
                    },
                    "group_note": {
                      "note": "Silvia tends to knock things off shelves during events. Keep her away from the merch table.",
                      "moderator_name": "Sam the Mod",
                      "updated_at": "2026-05-01T12:00:00.000000Z"
                    },
                    "group_warnings": [
                      {
                        "id": 1,
                        "title": "Shelf Incident #1",
                        "description": "Pushed three mugs off the table during the cat café event.",
                        "moderator_name": "Sam the Mod",
                        "created_at": "2026-04-15T18:30:00.000000Z"
                      }
                    ],
                    "reputation": {
                      "instance_warns": 0,
                      "instance_kicks": 1,
                      "group_joins": 5,
                      "group_leaves": 2,
                      "group_kicks": 0,
                      "group_bans": 0
                    }
                  },
                  "message": "VRChat user retrieved."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/default401"
          },
          "403": {
            "description": "Missing `vrchat.lookup` permission scope on your token. Silvia personally enforces this.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                },
                "example": {
                  "success": false,
                  "code": 403,
                  "data": "",
                  "message": "You do not have permission to perform VRChat user lookups."
                }
              }
            }
          },
          "404": {
            "description": "VRChat user not found or the VRChat API returned no data. Sam checked twice — they're not there.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                },
                "example": {
                  "success": false,
                  "code": 404,
                  "data": "",
                  "message": "VRChat user not found."
                }
              }
            }
          },
          "422": {
            "description": "The provided value is not a valid VRChat user ID. Must match `usr_<uuid>`. Silvia only accepts valid IDs — she has standards.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                },
                "example": {
                  "success": false,
                  "code": 422,
                  "data": "",
                  "message": "The provided value is not a valid VRChat user ID."
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/default429"
          }
        }
      }
    },
    "/vrchat/members": {
      "get": {
        "tags": [
          "vrchat"
        ],
        "summary": "List group members with reputation",
        "operationId": "get.vrchat.members",
        "description": "Returns all members in the specified VRChat group from the local sync database, enriched with their reputation tallies. Results are sorted alphabetically by display name.\n\nRequires the `vrchat.members` permission scope on your token.\n\n> *\"Silvia compiled the member list. Sam reviewed it. Sam was on the list. Sam did not appreciate his own stats.\"*",
        "parameters": [
          {
            "name": "group_id",
            "in": "query",
            "required": true,
            "description": "VRChat group ID. Must match `grp_<id>`.",
            "schema": {
              "type": "string",
              "example": "grp-silvia-and-sam"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Member list retrieved.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Members retrieved."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "user_id": {
                            "type": "string",
                            "example": "usr_00000000-0000-0000-0000-000000000001"
                          },
                          "display_name": {
                            "type": "string",
                            "nullable": true,
                            "example": "Silvia"
                          },
                          "membership_status": {
                            "type": "string",
                            "example": "moderator",
                            "description": "member, moderator, inactive, banned, etc."
                          },
                          "joined_at": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true,
                            "example": "2026-01-01T00:00:00.000000Z"
                          },
                          "reputation": {
                            "type": "object",
                            "properties": {
                              "instance_warns": {
                                "type": "integer",
                                "example": 0
                              },
                              "instance_kicks": {
                                "type": "integer",
                                "example": 0
                              },
                              "group_joins": {
                                "type": "integer",
                                "example": 3
                              },
                              "group_leaves": {
                                "type": "integer",
                                "example": 0
                              },
                              "group_kicks": {
                                "type": "integer",
                                "example": 0
                              },
                              "group_bans": {
                                "type": "integer",
                                "example": 0
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "code": 200,
                  "message": "Members retrieved.",
                  "data": [
                    {
                      "user_id": "usr_00000000-0000-0000-0000-000000000002",
                      "display_name": "Sam the Cat",
                      "membership_status": "member",
                      "joined_at": "2026-02-01T00:00:00.000000Z",
                      "reputation": {
                        "instance_warns": 1,
                        "instance_kicks": 0,
                        "group_joins": 2,
                        "group_leaves": 0,
                        "group_kicks": 0,
                        "group_bans": 0
                      }
                    },
                    {
                      "user_id": "usr_00000000-0000-0000-0000-000000000001",
                      "display_name": "Silvia the Cat",
                      "membership_status": "moderator",
                      "joined_at": "2026-01-01T00:00:00.000000Z",
                      "reputation": {
                        "instance_warns": 0,
                        "instance_kicks": 0,
                        "group_joins": 5,
                        "group_leaves": 0,
                        "group_kicks": 0,
                        "group_bans": 0
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/default401"
          },
          "403": {
            "description": "Missing `vrchat.members` permission scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                }
              }
            }
          },
          "422": {
            "description": "Missing or invalid group_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/default429"
          }
        }
      }
    },
    "/vrchat/members/{userId}/note": {
      "post": {
        "tags": [
          "vrchat-member-data"
        ],
        "summary": "Create or update a moderator note for a member",
        "operationId": "post.vrchat.note",
        "description": "Creates or replaces the moderator note for the given member within the specified group. There is exactly one note per member per group — calling this endpoint again overwrites the previous note and updates `updated_at`.\n\nRequires the `vrchat.note` permission scope on your token.\n\n> *\"Silvia wrote the first note. It just said 'watched'. Sam's note has three paragraphs about the shelf incident.\"*",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "VRChat user ID (`usr_` prefix).",
            "schema": {
              "type": "string",
              "example": "usr_00000000-0000-0000-0000-000000000001"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "group_id",
                  "note",
                  "moderator_name"
                ],
                "properties": {
                  "group_id": {
                    "type": "string",
                    "example": "grp_00000000-0000-0000-0000-000000000001",
                    "description": "VRChat group ID (`grp_` prefix)."
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 2000,
                    "example": "Tends to knock things off shelves during events. Keep her away from the merch table."
                  },
                  "moderator_name": {
                    "type": "string",
                    "maxLength": 255,
                    "example": "Sam the Mod",
                    "description": "Display name of the moderator writing the note."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Note saved (created or updated).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.success"
                },
                "example": {
                  "success": true,
                  "code": 200,
                  "message": "Group note saved.",
                  "data": {
                    "user_id": "usr_00000000-0000-0000-0000-000000000001",
                    "group_id": "grp_00000000-0000-0000-0000-000000000001",
                    "note": "Tends to knock things off shelves during events. Keep her away from the merch table.",
                    "moderator_name": "Sam the Mod",
                    "updated_at": "2026-05-18T12:00:00.000000Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/default401"
          },
          "403": {
            "description": "Missing `vrchat.note` permission scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error — invalid user ID format, missing or invalid group_id, empty note or moderator name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/default429"
          }
        }
      },
      "delete": {
        "tags": [
          "vrchat-member-data"
        ],
        "summary": "Delete the moderator note for a member",
        "operationId": "delete.vrchat.note",
        "description": "Permanently removes the moderator note for the given member in the specified group. Requires `group_id` as a query parameter.\n\nRequires the `vrchat.note` permission scope on your token.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "VRChat user ID (`usr_` prefix).",
            "schema": {
              "type": "string",
              "example": "usr_00000000-0000-0000-0000-000000000001"
            }
          },
          {
            "name": "group_id",
            "in": "query",
            "required": true,
            "description": "VRChat group ID (`grp_` prefix).",
            "schema": {
              "type": "string",
              "example": "grp_00000000-0000-0000-0000-000000000001"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Note deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.success"
                },
                "example": {
                  "success": true,
                  "code": 200,
                  "message": "Group note deleted.",
                  "data": {
                    "user_id": "usr_00000000-0000-0000-0000-000000000001",
                    "group_id": "grp_00000000-0000-0000-0000-000000000001"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/default401"
          },
          "403": {
            "description": "Missing `vrchat.note` permission scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                }
              }
            }
          },
          "404": {
            "description": "Note not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid user ID format or missing/invalid group_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/default429"
          }
        }
      }
    },
    "/vrchat/members/{userId}/warnings": {
      "post": {
        "tags": [
          "vrchat-member-data"
        ],
        "summary": "Add a warning to a member",
        "operationId": "post.vrchat.warning",
        "description": "Appends a new warning record for the given member within the specified group. Members can accumulate multiple warnings — each call creates a new entry.\n\nRequires the `vrchat.warning` permission scope on your token.\n\n> *\"Sam has issued one warning. Silvia has issued seventeen. We don't talk about the great shelf incident of 2026.\"*",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "VRChat user ID (`usr_` prefix).",
            "schema": {
              "type": "string",
              "example": "usr_00000000-0000-0000-0000-000000000001"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "group_id",
                  "title",
                  "description",
                  "moderator_name"
                ],
                "properties": {
                  "group_id": {
                    "type": "string",
                    "example": "grp_00000000-0000-0000-0000-000000000001",
                    "description": "VRChat group ID (`grp_` prefix)."
                  },
                  "title": {
                    "type": "string",
                    "maxLength": 255,
                    "example": "Shelf Incident #1"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 2000,
                    "example": "Pushed three mugs off the table during the cat café event."
                  },
                  "moderator_name": {
                    "type": "string",
                    "maxLength": 255,
                    "example": "Sam the Mod",
                    "description": "Display name of the moderator issuing the warning."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Warning created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.success"
                },
                "example": {
                  "success": true,
                  "code": 200,
                  "message": "Group warning created.",
                  "data": {
                    "id": 1,
                    "user_id": "usr_00000000-0000-0000-0000-000000000001",
                    "group_id": "grp_00000000-0000-0000-0000-000000000001",
                    "title": "Shelf Incident #1",
                    "description": "Pushed three mugs off the table during the cat café event.",
                    "moderator_name": "Sam the Mod",
                    "created_at": "2026-05-18T12:00:00.000000Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/default401"
          },
          "403": {
            "description": "Missing `vrchat.warning` permission scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error — invalid user ID format, missing or invalid group_id, empty title, description, or moderator name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/default429"
          }
        }
      }
    },
    "/vrchat/kick": {
      "post": {
        "tags": [
          "vrchat-moderation"
        ],
        "summary": "Kick a member from the group",
        "operationId": "post.vrchat.kick",
        "description": "Removes a member from the VRChat group using the server's authenticated VRChat account. The account must hold the **Remove Group Members** permission in the group. A kicked member can rejoin if the group is open.\n\nRequires the `vrchat.kick` permission scope on your token.\n\n> *\"Sam wrote the kick logic. Silvia reviewed it. She added an extra validation layer and a strongly-worded comment.\"*",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "group_id",
                  "user_id"
                ],
                "properties": {
                  "group_id": {
                    "type": "string",
                    "description": "VRChat group ID. Must match `grp_<id>`.",
                    "example": "grp-silvia-and-sam"
                  },
                  "user_id": {
                    "type": "string",
                    "description": "VRChat user ID to kick. Must match `usr_<uuid>`.",
                    "example": "usr_00000000-0000-0000-0000-000000000001"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member kicked. Silvia watched from the doorstep.",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "code": 200,
                  "message": "Member kicked from group.",
                  "data": {
                    "kicked": true,
                    "user_id": "usr_00000000-0000-0000-0000-000000000001",
                    "group_id": "grp-silvia-and-sam"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/default401"
          },
          "403": {
            "description": "Missing `vrchat.kick` scope or the VRChat account lacks the Remove Group Members permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/default429"
          },
          "500": {
            "description": "VRChat API failed to kick the member.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                }
              }
            }
          }
        }
      }
    },
    "/vrchat/ban": {
      "post": {
        "tags": [
          "vrchat-moderation"
        ],
        "summary": "Ban a member from the group",
        "operationId": "post.vrchat.ban",
        "description": "Bans a user from the VRChat group using the server's authenticated VRChat account. The account must have group ban permissions. A banned user cannot rejoin and will appear in the group's ban list.\n\nRequires the `vrchat.ban` permission scope on your token.\n\n> *\"Silvia personally reviews all ban requests. Sam types them in. Neither of them feels bad about it.\"*",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "group_id",
                  "user_id"
                ],
                "properties": {
                  "group_id": {
                    "type": "string",
                    "description": "VRChat group ID. Must match `grp_<id>`.",
                    "example": "grp-silvia-and-sam"
                  },
                  "user_id": {
                    "type": "string",
                    "description": "VRChat user ID to ban. Must match `usr_<uuid>`.",
                    "example": "usr_00000000-0000-0000-0000-000000000001"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member banned. Silvia has updated her mental blocklist.",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "code": 200,
                  "message": "Member banned from group.",
                  "data": {
                    "banned": true,
                    "user_id": "usr_00000000-0000-0000-0000-000000000001",
                    "group_id": "grp-silvia-and-sam"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/default401"
          },
          "403": {
            "description": "Missing `vrchat.ban` scope or the VRChat account lacks group ban permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/default429"
          },
          "500": {
            "description": "VRChat API failed to ban the member.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                }
              }
            }
          }
        }
      }
    },
    "/vrchat/images": {
      "get": {
        "tags": [
          "vrchat-images"
        ],
        "summary": "List images in the group media gallery",
        "operationId": "get.vrchat.images",
        "description": "Returns a paginated list of images from the group's Media Uploads gallery. The gallery is resolved (or created) automatically.\n\nRequires the `vrchat.post` permission scope.\n\n> *\"Silvia reviewed the gallery. Sam had named every file 'cat.png'. There were 47 of them.\"*",
        "parameters": [
          {
            "name": "group_id",
            "in": "query",
            "required": true,
            "description": "VRChat group ID whose Media Uploads gallery to list.",
            "schema": {
              "type": "string",
              "example": "grp_silvia-and-sam"
            }
          },
          {
            "name": "n",
            "in": "query",
            "description": "Number of results to return (1-100, default 50).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of gallery images.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.success"
                },
                "example": {
                  "success": true,
                  "code": 200,
                  "message": "Images retrieved.",
                  "data": [
                    {
                      "gallery_image_id": "gimg_silvia-shelf-001",
                      "image_id": "file_ce35d830-e20a-4df0-a6d4-5aaef4508044",
                      "image_url": "https://api.vrchat.cloud/api/1/file/file_ce35d830-e20a-4df0-a6d4-5aaef4508044/1/file",
                      "name": "silvia-on-shelf.png",
                      "description": "",
                      "submitted_by": "usr_silvia-001",
                      "created_at": "2026-05-01T10:00:00.000Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/default401"
          },
          "403": {
            "description": "Missing `vrchat.post` permission scope, or the VRChat account cannot access the gallery.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                }
              }
            }
          },
          "422": {
            "description": "`group_id` is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/default429"
          },
          "500": {
            "description": "Gallery could not be resolved or the VRChat API returned an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.error"
                }
              }
            }
          }
        }
      }
    },
    "/vrchat/image": {
      "post": {
        "tags": [
          "vrchat-images"
        ],
        "summary": "Upload an image to the group media gallery",
        "operationId": "post.vrchat.image",
        "description": "Uploads a PNG or JPEG image to VRChat and adds it to the group's Media Uploads gallery (created automatically if it doesn't exist yet). Returns both the `image_id` for use in posts and the `gallery_image_id` needed to delete the image later.\n\nRequires the `vrchat.post` permission scope on your token.\n\n> *\"Silvia submitted a photo of herself on the merch table. Sam uploaded it as the group banner. The gallery auto-created itself. We have no regrets.\"*",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "group_id",
                  "file"
                ],
                "properties": {
                  "group_id": {
                    "type": "string",
                    "description": "VRChat group ID to upload the image into.",
                    "example": "grp_silvia-and-sam"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "PNG or JPEG image, max 10 MB."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image uploaded and added to the group gallery. Use `image_id` in `POST /vrchat/posts`. Store `gallery_image_id` to delete the image later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response.success"
                },
                "example": {
                  "success": true,
                  "code": 200,
                  "message": "Image uploaded.",
                  "data": {
                    "image_id": "file_ce35d830-e20a-4df0-a6d4-5aaef4508044",
                    "gallery_image_id": "gimg_silvia-shelf-001"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/default401"
          },
          "403": {
            "description": "Missing `vrchat.post` permission scope, or the VRChat account cannot upload files or manage the gallery.",
            "content": {
              "application/json": {
                "schema": {
[...]
