{
  "openapi": "3.0.1",
  "info": {
    "title": "Iriks-IT API",
    "description": "Here comes the documentation of the api for  [Iriks-IT](https://api.iriks-it.nl)",
    "termsOfService": "https://iriks-it.nl/api-terms/",
    "contact": {
      "email": "devop@iriks.it",
      "name": "Matthijs Iriks",
      "url": "https://iriks-it.nl/"
    },
    "x-logo": {
      "url": "https://iriks-it.nl/logo.png",
      "backgroundColor": "#FFFFFF",
      "altText": "Iriks-IT Logo"
    },
    "version": "1.0.0"
  },
  "externalDocs": {
    "description": "Find out more about us here.",
    "url": "https://iriks-it.nl"
  },
  "servers": [
    {
      "url": "https://api.iriks-it.nl/kraken"
    }
  ],
  "tags": [
    {
      "name": "account"
    },
    {
      "name": "basics"
    },
    {
      "name": "dumpert"
    },
    {
      "name": "quotes"
    },
    {
      "name": "wordpress"
    }
  ],
  "paths": {
    "/docs": {
      "get": {
        "tags": [
          "basics"
        ],
        "summary": "/docs",
        "description": "Need a link to the documentation ? here is the most up2date link.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "example-1": {
                      "success": true,
                      "error": false,
                      "code": 200,
                      "message": "documentation is available on https://docs.iriks-it.nl/"
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "error": {
                      "type": "boolean",
                      "default": false
                    },
                    "code": {
                      "type": "integer",
                      "default": 200,
                      "format": "int32"
                    },
                    "message": {
                      "type": "string",
                      "default": "documentation is available on https://docs.iriks-it.nl/"
                    }
                  }
                },
                "examples": {}
              }
            }
          },
          "505": {
            "$ref": "#/components/responses/default505"
          }
        },
        "operationId": "get.basic.docs"
      }
    },
    "/help": {
      "get": {
        "tags": [
          "basics"
        ],
        "summary": "/help",
        "description": "Need a link to the documentation ? here is the most up2date link.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "example-1": {
                      "success": true,
                      "error": false,
                      "code": 200,
                      "message": "documentation is available on https://docs.iriks-it.nl/"
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "error": {
                      "type": "boolean",
                      "default": false
                    },
                    "code": {
                      "type": "integer",
                      "default": 200,
                      "format": "int32"
                    },
                    "message": {
                      "type": "string",
                      "default": "documentation is available on https://docs.iriks-it.nl/"
                    }
                  }
                }
              }
            }
          },
          "505": {
            "$ref": "#/components/responses/default505"
          }
        },
        "operationId": "get.basic.help"
      }
    },
    "/account/register": {
      "post": {
        "summary": "/account/register",
        "operationId": "post.account.register",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "boolean"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "docsURL": {
                      "type": "string"
                    },
                    "baseURL": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "example-1": {
                      "success": true,
                      "error": false,
                      "code": 200,
                      "message": "Welcome message",
                      "docsURL": "documentation url",
                      "baseURL": "api base url",
                      "version": "current version"
                    }
                  }
                }
              }
            }
          },
          "505": {
            "$ref": "#/components/responses/default505"
          }
        },
        "description": "Register your account here",
        "tags": [
          "account"
        ]
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "iriksit_oauth2": {
        "type": "oauth2",
        "description": "This needs to be placed in the header, with the Bearer prefix.",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://api.iriks-it.nl/oath2/authorize.php",
            "refreshUrl": "https://api.iriks-it.nl/oath2/refresh.php",
            "scopes": {
              "basic-read": "allows read on basic flagged endpoints",
              "basic-write": "allows write on basic flagged endpoints",
              "wp_vulnerability-write": "allows write on basic flagged endpoints"
            }
          }
        }
      }
    },
    "requestBodies": {},
    "responses": {
      "default401": {
        "description": "Unauthorized, insufficient scope",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "x-examples": {
                "example-1": {
                  "success": false,
                  "error": true,
                  "code": 401,
                  "message": "Unauthorized, insufficient scope"
                }
              },
              "properties": {
                "success": {
                  "type": "boolean",
                  "default": false
                },
                "error": {
                  "type": "boolean",
                  "default": true
                },
                "code": {
                  "type": "integer",
                  "default": 401,
                  "format": "int32"
                },
                "message": {
                  "type": "string",
                  "default": "Unauthorized, insufficient scope"
                }
              }
            },
            "examples": {
              "example-1": {
                "value": {
                  "success": false,
                  "error": true,
                  "code": 401,
                  "message": "Unauthorized, insufficient scope"
                }
              }
            }
          }
        },
        "headers": {
          "Date": {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Timestamp of the request"
          },
          "Server": {
            "schema": {
              "type": "string",
              "default": "1337z0rs"
            },
            "description": "Server information"
          },
          "X-Powered-With": {
            "schema": {
              "type": "string",
              "default": "Iriks-IT"
            },
            "description": "Credits"
          },
          "X-Powered-By": {
            "schema": {
              "type": "string",
              "default": "Potato/5.2.17"
            },
            "description": "PHP information"
          },
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25
            },
            "description": "Your total limit"
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 24
            },
            "description": "Your calls remaining"
          },
          "X-RateLimit-Reset-In": {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 300
            },
            "description": "Your calls remaining will reset in x seconds"
          }
        }
      },
      "default404": {
        "description": "Command not found with current user credentials",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "x-examples": {
                "example-1": {
                  "success": false,
                  "error": true,
                  "code": 404,
                  "message": "Command not found with current user information"
                }
              },
              "properties": {
                "success": {
                  "type": "boolean",
                  "default": false
                },
                "error": {
                  "type": "boolean",
                  "default": true
                },
                "code": {
                  "type": "integer",
                  "default": 404,
                  "format": "int32"
                },
                "message": {
                  "type": "string",
                  "default": "Command not found with current user information"
                }
              }
            },
            "examples": {
              "example-1": {
                "value": {
                  "success": false,
                  "error": true,
                  "code": 404,
                  "message": "Command not found with current user credentials"
                }
              }
            }
          }
        },
        "headers": {
          "Date": {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Timestamp of the request"
          },
          "Server": {
            "schema": {
              "type": "string",
              "default": "1337z0rs"
            },
            "description": "Server information"
          },
          "X-Powered-With": {
            "schema": {
              "type": "string",
              "default": "Iriks-IT"
            },
            "description": "Credits"
          },
          "X-Powered-By": {
            "schema": {
              "type": "string",
              "default": "Potato/5.2.17"
            },
            "description": "PHP information"
          },
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25
            },
            "description": "Your total limit"
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 24
            },
            "description": "Your calls remaining"
          },
          "X-RateLimit-Reset-In": {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 300
            },
            "description": "Your calls remaining will reset in x seconds"
          }
        }
      },
      "default505": {
        "description": "Request was not send over HTTPS",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "x-examples": {
                "example-1": {
                  "success": false,
                  "error": true,
                  "code": 505,
                  "message": "Request was not send over HTTPS"
                }
              },
              "properties": {
                "success": {
                  "type": "boolean",
                  "default": false
                },
                "error": {
                  "type": "boolean",
                  "default": true
                },
                "code": {
                  "type": "integer",
                  "default": 505,
                  "format": "int32"
                },
                "message": {
                  "type": "string",
                  "default": "Request was not send over HTTPS"
                }
              }
            },
            "examples": {
              "example-1": {
                "value": {
                  "success": false,
                  "error": true,
                  "code": 505,
                  "message": "Request was not send over HTTPS"
                }
              }
            }
          }
        },
        "headers": {
          "Date": {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Timestamp of the request"
          },
          "Server": {
            "schema": {
              "type": "string",
              "default": "1337z0rs"
            },
            "description": "Server information"
          },
          "X-Powered-With": {
            "schema": {
              "type": "string",
              "default": "Iriks-IT"
            },
            "description": "Credits"
          },
          "X-Powered-By": {
            "schema": {
              "type": "string",
              "default": "Potato/5.2.17"
            },
            "description": "PHP information"
          },
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25
            },
            "description": "Your total limit"
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 24
            },
            "description": "Your calls remaining"
          },
          "X-RateLimit-Reset-In": {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 300
            },
            "description": "Your calls remaining will reset in x seconds"
          }
        }
      }
    }
  }
}
